<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>New Message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new-message" method="POST">
      <%- include("./partials/errors.ejs") %>
      <label for="title">Title</label>
      <input id="title" name="title" type="text" />
      <label for="text">Text</label>
      <input id="text" name="text" type="text" />
      <input type="submit" value="Create Message" />
    </form>
  </body>
</html>
