<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="sign-up" method="POST">
      <%- include("./partials/errors.ejs") %>
      <label for="first-name">First Name</label>
      <input id="first-name" name="first-name" type="text" />
      <label for="last-name">Last Name</label>
      <input id="last-name" name="last-name" type="text" />
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" name="confirm-password" type="password" />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
