<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="sign-up" method="POST">
      <%- include("./partials/errors.ejs") %>
      <label for="firstName">First Name</label>
      <input id="firstName" name="firstName" type="text" />
      <label for="lastName">Last Name</label>
      <input id="lastName" name="lastName" type="text" />
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" name="confirmPassword" type="password" />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
